.cardBox {
    width: 100%;
    height: 250px;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
      rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
  }
  
  .card {
    position: absolute;
    width: 98%;
    height: 95%;
    background: #000814;
    border-radius: 20px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
    padding: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
  }
  
  .card .h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 800;
    pointer-events: none;
    opacity: .5;
  }
  
  .card .content .h3 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
  }
  
  .card .content p {
    font-size: 14px;
    line-height: 1.4em;
  }
  
  .card .content {
    transform: translateY(100%);
    opacity: 0;
    transition: 0.3s ease-in-out;
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 0.1rem; /* Space between the cards */
    width: 100%;
  }
  
  .card:hover .content {
    transform: translateY(0);
    opacity: 1;
  }
  
  .card:hover .h4 {
    opacity: 0;
  }
  
  .cardBox::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 80%;
    background: #73e040;
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #73E040);
    background: linear-gradient(to right, #FF0080, #FF8C00, #73e040);
    transform-origin: center;
    animation: glowing_401 10s linear infinite;
  }

  .right{
    padding: 0 2rem;
  }
  
  @keyframes glowing_401 {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
 @media screen and (max-width: 1200px) {
    .card .content{
      height: fit-content;
      display: flex; /* Use flexbox for row layout */
      flex-direction: column-reverse; /* Stack the items vertically */
      gap: 1rem; /* Add some space between items */
      width: 100%;
    }
    .right{
      padding: 0;
    }
    .card .content .h3{
      font-size: 16px;
    }
    .card .content p {
      font-size: 12px;
    }
 }