.container {
    width: fit-content;
    margin: 11rem auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;  
}

.card {
    margin: 0 1.5rem;
    position: relative;
    width: 250px;
    height: 300px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 4rem 0;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
  }
  
  .card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 260px;
    height: 310px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -1;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
  }
  
  
  .card:hover::after {
    filter: blur(30px);
  }
  
  .card:hover::before {
    transform: rotate(-90deg) scaleX(1.2) scaleY(0.84);
  }

  @media screen and (max-width: 1200px) {
      .container{
        /* grid-template-columns: repeat(2, 1fr); */
        gap: 1rem;
        margin: 8rem auto;
        /* row-gap: 4rem;  */
      }
      .card{
        width: 180px;
        height: 230px;
      }
      .card::before{
        width: 190px;
        height: 240px;
      }
      .card:hover::before {
        transform: rotate(-90deg) scaleX(1.25) scaleY(0.8);
      }
      .heading{
        font-size: 15px;
      }
      .img{
        width: 50%;
      }
  }

  @media screen and (max-width: 900px) {
      .container{
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        margin: 7rem auto;
        row-gap: 3rem; 
      }
      .card{
        width: 180px;
        height: 230px;
      }
      .card::before{
        width: 190px;
        height: 240px;
      }
      .card:hover::before {
        transform: rotate(-90deg) scaleX(1.25) scaleY(0.8);
      }
      .heading{
        font-size: 15px;
      }
      .img{
        width: 50%;
      }
  }

  @media screen and (max-width: 300px) {
      .card{
        width: 120px;
        height: 170px;
      }
      .card::before{
        width: 130px;
        height: 180px;
      }
      .card:hover::before {
        transform: rotate(-90deg) scaleX(1.37) scaleY(0.72);
      }
      .heading{
        font-size: 10px;
      }
      .img{
        width: 50%;
      }
  }
  